<html>
    <body>
       
            <p><%= equipment.equipment_id %></p>
            <p><%= equipment.student_id %></p>
            <p><%= equipment.issue_date %></p>
            <p><%= equipment.return_date %></p>
            <p><%= equipment.loan %></p>
            <br>
       
       
    </body>
</html>